/*========================GLYPHICON COLOR========================*/

.glyphicon-question-sign {
    color: #006dcc;
	margin:5px;
}

/*========================END GLYPHICON COLOR========================*/

.hasSpouse {
	width: 45%;
	float: left;
}

.noSpouse {
	width: 100%;
	float: none;
}

.additional-information-container {
	clear: both;
	margin: 0 auto;
	width: 600px;
}

/*========================BACK BUTTON========================*/
#back-button-div-home {
	margin: 0 auto;
    bottom: 0;
	margin-left: 46%;
}

#back-button-div {
	margin: 0 auto;
    bottom: 0;
}

#back {
	margin: 0 auto;
    bottom: 0;
}

/*========================SUBMIT BUTTON========================*/
#submit-button-div-home {
	margin: 0 auto;
    bottom: 0;
	margin-left: 46%;
}

#submit-button-div {
	margin: 0 auto;
    bottom: 0;
}

#submit {
	margin: 0 auto;
    bottom: 0;
}

#personalinfo, #myhealth, #occupation, #results {    
    margin: 0 auto;
    width: 1000px;
}

/*===========================FOOTER STYLING==========================*/
html, body {
	margin:0;
	padding:0;
	height:100%;
}

#app {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
	clear: both;
	background:#ededed;
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
    text-align: center;
}
/*============================END FOOTER STYLING===========================*/